* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Courier New", Courier, monospace;
}

section {
  padding: 100px 0;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 200%;
  margin: 0 auto;
}

.sal-1 {
  background-color: #262626;
}

.sal-1 .container {
  display: flex;
  justify-content: center;
}

.circle {
  height: 250px;
  width: 250px;
  border-radius: 250px;
}
